body {
    background-image: url(https://images.alphacoders.com/120/thumbbig-1204307.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: rgb(245, 255, 250);
    font-family: Perpetua;
    font-size: 24px;
  }
  
  h1, p {
    text-align: center;
  }
  
  h1 {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  
  .established {
    font-style: italic;
  }
  
  form {
    background-color: rgb(44, 23, 14);
    color: rgb(245, 255, 250);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(255, 215, 0);
    width: 60vw;
    max-width: 700px;
    min-width: 350px;
    margin: 0 auto;
    padding: 15px 15px 25px 15px;
  }
  
  label {
    display: block;
  }
  
  fieldset {
    border: none;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    margin: 0.1em 0 1em 0;
    min-height: 2em;
    font-size: 0.67em;
  }
  
  input,
  select {
    border-radius: 5px;
  }
  
  textarea {
    min-height: 6.33em;
    resize: vertical;
  }
  
  .animated-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    animation: buttonAnimation 1s infinite;
  }
  
  @keyframes buttonAnimation {
    0% {
      background-color: #e74c3c;
    }
    50% {
      background-color: #f39c12;
    }
    100% {
      background-color: #e74c3c;
    }
  }
  
  .animated-button:hover {
    animation: none;
    background-color: #f39c12;
  }
  
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  select:focus {
    outline: none !important;
    box-shadow: 0 0 7px rgb(0, 255, 255);
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    min-height: unset;
    vertical-align: middle;
  }